<h3>Kevin's Blog</h3>
<% @articles.each do |article| %>
    <h4><%= link_to_unless_current article.title, article %></h4>
    <p><%= truncate(raw(article.body), length: 250) %></p>
    <hr>
<% end %>
