<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Videos</li>
</ol>
<h3>Videos</h3>
<% @videos.each do |video| %>
    <h4><%= link_to video.title, video %></h4>
    <p><%= video.description.truncate(250).html_safe %></p>
    <hr>
<% end %>
<%= paginate @videos %>
