<h3>Where's Kevin</h3>
<table width="100%" class="table">
  <thead>
  <tr>
    <th width="25%">When</th>
    <th width="60%">Event</th>
    <th width="15%"></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.time, event %></td>
        <td><%= link_to event.title, event %></td>
        <td align="right"><%= link_to 'More Info', event, class: '' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
