<footer>
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <p>&copy;<%= Time.now.year %> Kevin J. Stone</p>
    </div>
    <div class="col-md-4 col-lg-3">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/KevinJStone85"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/actsofkevin"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://instagram.com/actsofkevin"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>