<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron content-container-margin-top">
  <div class="col-md-6 col-lg-6"></div>
  <div class="col-md-6 col-lg-6 hidden-sm hidden-xs text-right">
    <span class="kevinname"><%= @banner_name %></span>
    <p><%= @banner_content %></p>
  </div>
</div>