<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron content-container-margin-top">
  <div class="col-md-6 col-lg-6"></div>
  <div class="col-md-6 col-lg-6 hidden-sm hidden-xs text-right">
    <span class="kevinname">Kevin J. Stone</span>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac est  nulla. Quisque interdum risus purus, at ornare nunc blandit ac. </p>
  </div>
</div>